.page-tabs .nav-link {
    cursor: pointer;
    margin: 10px;
}
.page-tabs {
    display: flex;
    align-items: flex-start;
}
.page-tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
button {
    width: 200px;
    height: 25px;
}