.page-tabs .nav-link {
    cursor: pointer;
}

.page-tabs .nav-link.active {
    color: blue;
}
.nav-item {
    width: 100px;
}
.page-tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
}