.board {
    max-width: 1024px;
    justify-content: space-evenly;
    display: flex;
    min-height: 100vh;
    margin: auto;
}
.board_piece {
    width: 25%;
    text-align: center;
    border-style: solid;
    justify-content: center;
    display: flex;
}
@media only screen and (max-width: 1024px){
    .board{
        width: 900px;
    }
}
@media only screen and (max-width: 900px) {
    .board {
        justify-content: center;
        width: auto;
    }
    .board_piece {
        width: 400px;
    }
    .todo {
        justify-content: center;
    }
    .inprogress {
        display: none;
    }
    .review {
        display: none;
    }
    .done {
        display: none;
    }
}
