.board {
    max-width: 1600px;
    justify-content: space-evenly;
    display: flex;
    min-height: 100vh;
    margin: auto;
}
.board_piece {
    width: 25%;
    text-align: center;
    justify-content: center;
    display: flex;
}

